
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
}
#EPimg {
    padding-right: 20px;

}
header {
    background-color: rgb(46, 148, 46);
    padding: 10px 0;
    display: flex;
    
    align-items: center;
    padding: 0 20px;
}

header img#logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a {
    color:black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #388e3c;
    border-radius: 5px;
}

#descripciong {
    padding: 50px 20px;
    text-align: center;
}

#descripciong h1 {
    font-size: 2.5em;
    color: #2e7d32;
}

#descripciong p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #666;
}

#Pr1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#Pr1 img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#QS1 {
    background-color: green;
    padding: 20px; /* Espacio interior para separar del borde */
    display: flex; /* Para alinear elementos en fila */
    justify-content: space-between; /* Para separar la imagen del texto */
    align-items: center; /* Para centrar verticalmente */
}

#QS1 .content {
    max-width: 50%; /* Limitar el ancho máximo del contenido */
}

#QS1 img {
    margin-right: 20px; /* Margen derecho para separar la imagen del texto */
    max-width: 800px; /* Limitar el ancho máximo al 100% del contenedor */
    height: 500px; /* Ajustar la altura automáticamente según el ancho */    
}

#QS1 h1, #QS1 h2 {
    color: white; /* Color del texto blanco */
}
#QS1 h1{
    font-size: 50px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-image: url(../img/Footer.jpg);
    background-size: 165px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer .iconos {
    margin-bottom: 10px;
}

footer .iconos p {
    margin-bottom: 10px;
}

footer .listaiconos {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .listaiconos li a {
    font-size: 24px;
    transition: transform 0.3s ease;
}

footer .listaiconos li a:hover {
    transform: scale(1.2);
}

footer p {
    font-size: 0.9em;
    margin-top: 20px;
}

/* animacion*/
nav a, footer .listaiconos li a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

nav a::before, footer .listaiconos li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

nav a:hover::before, footer .listaiconos li a:hover::before {
    transform: translateX(0);
}
