* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url(../img/fondoinfo2.avif);

    color: #333;
}
#EPimg {
    padding-right: 20px;

}
header {
    background-color: rgb(46, 148, 46);
    padding: 10px 0;
    display: flex;
    
    align-items: center;
    padding: 0 20px;
}

header img#logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #388e3c;
    border-radius: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    color: #2c6d2d;
    text-align: center;
    font-size: 50px;
}
h3 {
    color: #2c6d2d;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}
h2 {
    color: #2c6d2d;
}

p {
    line-height: 1.6;
    color: #555;
}

.container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 1px auto; /* Centrar el contenedor en la página */
    text-align: center; /* Centrar el texto */
    
}

#pdf-title {
    font-size: 50px;
    color: #2c6d2d; /* Color del título */
    margin-bottom: 20px; /* Espaciado debajo del título */
}

.pdf-container {
    height: 90vh; /* Altura del contenedor */
    overflow: hidden; /* Ocultar el desbordamiento */
    border: #2c6d2d 100px;
}

iframe {
    width: 50%; /* Ancho completo del contenedor */
    height: 80%; /* Altura completa del contenedor */
    border-color: #2c6d2d; /* Sin borde */
    border-radius: 20px;
    border-width: 10px;
}
#fullscreen-button {
    display: inline-block; /* Para que el enlace se comporte como un botón */
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave */
}

#fullscreen-button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

.info-section {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.info-section h2 {
    margin-bottom: 10px; /* Espaciado debajo del título */
}

.info-section p {
    line-height: 1.6; /* Mejora la legibilidad */
}
  
#invernaderop{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2c6d2d;
    border-radius: 20px;
    margin-top: 20px;
}
#textinp {
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#textinv {
    color: white;
    align-items: center;
    margin: 35px;
    font-size: 20px;
}
#imageinv {
    width: 25%;
    margin: 100px;
}
#funciones1{
    display: flex;
    margin: 60px;
}
#imagef1{
    margin-top: 20px;
    width: 350px;
    padding-left: 100px;
}
#imagef2{
    margin-top: 20px ;
    width: 300px;
    padding-left: 150px;
}
.funcion1 {
    margin: 30px;
    justify-content: center;
    align-items: center;

}
.riegopp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#riegotext{
    text-align: center;
}
#riegoimg {
padding-left: 380px;
width: 800px;
}
#main-board, #water-level-sensor-board {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
}
 
.carousel-container {
    position: relative;
    max-width: 30%; 
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.tit1 {
    margin-bottom: 30px;
}
.prev {
    left: 0;
}

.next {
    right: 0;
}

.board-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.board-description, .board-images {
    width: 48%;
}

.board-images img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pcb-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.pcb-design img {
    width: 38%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
}
.pcb-design h2, .pcb-design h3 {
    width: 100%;
    margin-bottom: 15px;
}
#gabinete {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 20px;
}
#partes {
    margin-top:30px ;
    color: white;
    font-size: 30px;
}
.pgab {
    margin-top: 10px;
}
#imgg{
    width: 50%; /* Reduce la imagen al 50% de su tamaño original */

}
.gabimg {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    padding:30px;
}

/* Estilo para la sección de esquema de cableado */
#esquema-cableado {
    margin-top: 40px; /* Margen superior para separar de otras secciones */
    text-align: center; /* Centra el texto dentro de la sección */
}

.esquema {
    display: flex;
    justify-content: center; /* Centra las imágenes en la sección */
    gap: 40px; /* Espaciado entre las imágenes */
    margin-top: 20px; /* Margen superior para las imágenes */
}

.imagen-esquema {
    width: 2000px; /* Ancho fijo para las imágenes */
}

.img-esquema {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.cost-analysis-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cost-analysis-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cost-analysis-table {
    width: 100%;
    border-collapse: collapse;
}

.cost-analysis-table thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.cost-analysis-table tbody td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cost-analysis-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cost-analysis-table tbody tr:hover {
    background-color: #f1f1f1;
}

.cost-analysis-table tbody td:last-child {
    font-weight: bold;
}
#total {
    font-size: 25px;
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#mecanizadop{
    margin: 30px;
}
footer {
    background-image: url(../img/Footer.jpg);
    background-size: 165px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

nav a, footer .listaiconos li a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

nav a::before, footer .listaiconos li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

nav a:hover::before, footer .listaiconos li a:hover::before {
    transform: translateX(0);
}

footer {
    background-image: url(../img/Footer.jpg);
    background-size: 165px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
#a1{
    color: white;
}
#a2{
    color: white;
}
footer {
    background-image: url(../img/Footer.jpg);
    background-size: 165px;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Centra el contenido del footer */
    padding: 20px; /* Espaciado interno del footer */
    margin-top: 40px; /* Margen superior para separar del contenido */
}
#icono {
    width: 75px; /* Ajusta el ancho del logo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}
footer p {
    font-size: 0.9em;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}